@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$title-color: rgba(234, 66, 69, 1);

body {
  margin: 0 auto;
  background: black;
}

p {
  color: white;
  text-align: center;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/banner-bg.png");
  background-size: cover;
  background-position: bottom;
  height: 150px;
  padding: 10px;
  text-align: center;
  color: white;
}

.logo {
  width: 200px;
  padding-right: 10px;
  position: relative;

}

.subtitle {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 30px;
  font-weight: normal;
}

.banner-title {
  margin-top: 0;
  font-family: "Orbitron";
  position: relative;
  top: 50%;
  transform: translateY(10%);
  display: none;
}

.title-break {
  display: block;
}

.social-icons {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 5px;
  right: 5px;
  list-style: none;
  z-index: 1;
}

.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-image {
  width: 30px;
  background: grey;
  border-radius: 100%;
}

.nav-bar {
  height: 30px;
  background: black;
  position: relative;
}

.nav-items {
  @include span-columns(12);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav-item {
  @include span-columns(4 of 12);
  display: inline-block;
  color: white;
  text-align: center;
}

.content-container {
  @include outer-container;
}

.image-slider {
  @include span-columns(12);
  padding: 0 15px;
}

.image-slider-image {
  @include span-columns(12 of 12);
  padding: 15px;
}

.about-us-title {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
}

.background-text {
  padding: 15px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
  display: inline-block;
}
