@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$title-color: rgba(234, 66, 69, 1);
$logo-orange: rgba(236, 97, 47, 1);
$logo-blue: rgba(27, 54, 106, 1);
$logo-grey: rgba(224, 220, 208, 1);

@font-face {
  font-family: "Bleeding Cowboy";
  src: url("../Bleeding_Cowboys.ttf");
}

@font-face {
  font-family: "Orbitron";
  src: url("../Orbitron-Medium.ttf");
}

body {
  font-family: "Roboto";
  margin: 0 auto;
}

p {
  text-align: center;
  font-family: "Roboto";
  font-weight: 300;
}

.banner {
  background: linear-gradient(rgba(250, 250, 250, 0.6), rgba(250, 250, 250, 0.6)), url(../img/maybe-another-background.jpeg) no-repeat center center;
  background-size: cover;
  padding-top: 10px;
  text-align: center;
  color: black;
  height: 250px;
  position: relative;
}

.header-content {
  position: relative;
  top: 12%;
  transform: translateY(0);
}

.logo {
  width: 200px;
  padding: 10px;
  position: relative;
  background: rgba(0, 0, 0, .6);
}

.subtitle {
  font-family: "Roboto";
  font-size: 1rem;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
  margin: 0 40px;
  font-weight: normal;
  background: rgba(0, 0, 0, .6);
  color: $logo-grey;
  font-weight: 300;
}

.banner-title {
  margin-top: 0;
  font-family: "Orbitron";
  position: relative;
  top: 50%;
  transform: translateY(10%);
  display: none;
}

.title-break {
  display: block;
}

.social-icons {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  list-style: none;
  z-index: 1;
}

.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-image {
  width: 30px;
  border-radius: 100%;
  transition: all, 200ms, ease-in;
}

.social-icon-image:hover {
  background: rgba(0, 0, 0, .2);
}

.nav-bar {
  height: 30px;
  background: $logo-orange;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-items {
  @include span-columns(12);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Orbitron";
}

.nav-link {
  text-transform: uppercase;
}

.nav-item:hover {
  color: rgba(250, 250, 250, .6);
}

.nav-item {
  @include span-columns(4 of 12);
  display: inline-block;
  color: black;
  text-align: center;
}

.content-background {
  width: 100%;
  background: rgba(250, 250, 250, .6);
}

.content-container {
  @include outer-container;
}

.image-slider {
  @include span-columns(12);
  padding: 0;
}

.image-slider-image {
  @include span-columns(12 of 12);
}



.about-us-title {

  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-family: "Bleeding Cowboy";
}



.background-text {
  padding: 15px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
  display: inline-block;
  font-family: "Roboto";
  font-weight: 300;
}

.google-machine {
  padding: 50px;
}

.contact-link {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  color: black;
  font-family: "Roboto";
  font-weight: 300;
}

footer {
  background: $logo-grey;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
